<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Main page</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div th:insert="blocks/header :: header"></div>
<div class="container mt5">
  <h1>Welcome!</h1>
<br>
    <form action="/start" method="get">
    <h4>You can enter your URL to download ZIP file here, or just use the default one.</h4>
    <input type="text" name="url" placeholder="Enter URL here" class="form-control">
        <br>
        <input type="submit" value="Start" />
    </form>
    <br>
    <form action="/start" method="get">
        <input type="submit" value="Start with default URL" />
    </form>
</div>
</body>
</html>
